.quiz {

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

}

.score {
  text-transform: uppercase;
  color: $color-light-grey;
  align-self: flex-end;
  margin: 0 0 10px 0;
}

.levels {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  justify-items: center;
  margin: 0 0 20px 0;
  border-radius: 3px;
  overflow: hidden;
  cursor: default;

  &__item {
    background: $color-green;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: $color-white;

    &.levels-item-active {
      background: $color-light-green;
      color: $color-black;
    }
  }

  @media(max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-player {
  display: flex;
  padding: 20px 40px 20px 20px;
  background: $color-medium-grey;
  border-radius: 3px;
  margin: 0 0 20px 0;

  @media(max-width: 500px) {
    flex-direction: column;
    padding: 20px;
  }

  &__img {
    width: 200px;
    height: 155px;
    object-fit: cover;
    border-radius: 3px;
    margin: 0 30px 0 0;

    @media(max-width: 500px) {
      margin: 0 0 30px 0;
      align-self: center;
    }
  }

  &__controls {
    flex: 1 1 auto;

  }

  &__answer {
    font-size: 18px;
    line-height: 18px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    color: $color-white;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: $color-light-grey;
    }

    @media(max-width: 500px) {
      text-align: center;
    }
  }

  &__play {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }

  &__play-pause-btn {
    margin: 0 15px 0 0;
  }

  &__timeline {
    height: 6px;
    flex: 1 1 auto;
    background: $color-light-grey;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
  }

  &__progress {
    height: 100%;
    width: 0;
    border-radius: inherit;
    background: $color-green;
    transition: all 0.5s ease;
  }

  &__total-duration {
    right: 0;
  }


  &__current-duration {
    left: 0;
  }

  &__total-duration,
  &__current-duration {
    font-size: 11px;
    color: $color-light-grey;
    position: absolute;
    bottom: -14px;
    cursor: default;
  }

  &__volume {
    display: flex;
    align-items: center;
  }

  &__volume-slider {
    height: 4px;
    flex: 0 1 100px;
    background: $color-light-grey;
    border-radius: 2px;
    cursor: pointer;
  }

  &__volume-percentage {
    height: 100%;
    border-radius: inherit;
    background: $color-green;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &__volume-mute {
    color: $color-green;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 0 15px 0 0;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 3px;

    &:hover {
      color: $color-light-green;
    }
  }
}

.game-field {
  display: flex;
  margin: 0 0 20px 0;

  @media(max-width: 800px) {
    flex-direction: column;
  }
}

.choice {
  flex: 1 1 40%;
  margin: 0 30px 0 0;

  @media(max-width: 800px) {
    margin: 0 0 20px 0;
  }
}

.choice-list {
  width: 100%;
  border-radius: 3px;
  border: 1px solid $color-green;
  background: $color-medium-grey;
  cursor: pointer;

  &__item {
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid $color-green;
    color: $color-white;
    font-size: 16px;
    position: relative;

    &:last-child {
      border: none;
    }

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      width: 10px;
      height: 10px;
      transform: translateY(30%);
      border-radius: 50%;
      background: $color-light-grey;
    }

    &.correct {
      &::before {
        background: $color-green;
      }
    }

    &.incorrect {
      &::before {
        background: $color-red;
      }
    }
  }
}

.card-game {
  flex: 1 1 60%;
  border-radius: 3px;
  border: 1px solid $color-green;

  &__plug {
    color: $color-white;
    white-space: pre-wrap;
    text-align: center;
    padding: 20px;
  }

  @media (max-width: 500px) {

    & .card__header {
      flex-direction: column;
    }

    & .card__img {
      flex: 0 1 auto;
      max-width: 100%;
      align-self: center;
      margin: 0 0 30px 0;
    }

    & .card__name {
      text-align: center;
    }

    & .card__latin-name {
      text-align: center;
    }
  }
}

.quiz__btn {
  padding: 15px;
  background: $color-medium-grey;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color-white;
  font-size: 18px;
  transition: all 0.7s ease;
  cursor: default;

  &.quiz-btn-active {
    background: $color-green;
    cursor: pointer;

    &:hover {
      background: $color-light-green;
      color: $color-black;
    }
  }
}