$color-grey: rgb(41, 40, 40);
$color-medium-grey: lighten($color-grey, 10);
$color-light-grey: rgba(236, 238, 239, 0.636);
$color-green: rgb(37, 140, 37);
$color-light-green: lighten($color-green, 20);
$color-dark-green: darken($color-green, 20);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(218, 71, 71);